.contact-content {
  
    height: 400px;
    height: 100vh;
    justify-content: space-between;
    margin-top: 35px;
    position: relative;
    overflow: hidden;
}
.contact-content::after {
    content: "";
    background-image: url(11.svg);
    position: absolute;
    top: 0;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    z-index: -1;
}