@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --primary-text-color : #183b56;
    --secondary-text-color : #577592;
    --accent-color : #2294ed;
    --accent-color-dark : #1d69a3;
    --padding-inline-section : 20px;
}
body{
    font-family: "Poppins", sans-serif;
    color: var(--primary-text-color);
}
h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}
p{
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}
a
{
    text-decoration: none;
    display: inline-block;
}
.small-bold-text
{
    font-size: 1rem;
    font-weight: 700
}
.container
{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}
.flex
{
    display: flex;
    align-items: center;
}
.hover-link{
    color: var(--primary-text-color);
}
.hover-link:hover
{
    color: var(--accent-color);
    transition: 0.5s ease-out ;
}
.primary-button
{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 20px ;
    box-shadow: 0 0 5px var(--secondary-text-color);
    transition: 0.3s ease-out;
}
.primary-button:hover{
    background-color: var(--accent-color-dark);
}
.secondary-button
{   
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color) !important;
    padding: 12px 20px;
    transition: 0.2s ease-out;
}
.secondary-button:hover
{
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}

.top-banner{
    background-color: #4fb3d4;
    background-image: url("th.jpeg");
    /* background-size: 300px;
    background-repeat: no-repeat;*/
} 
.banner-text
{
    color: rgb(237, 15, 15);
    padding: 15px 30px;
    text-align: center;
}
.main-nav
{
    margin-top: 20px;
    justify-content: space-between;
}
.company-logo img{
    width: 200px;
}
.nav-links
{
    flex-basis: 730px;
}
.nav-links ul{
    justify-content: end;
    gap: 40px;
    list-style-type: none;
}

header{
    padding: 50px var(--padding-inline-section);
}
.header-section
{
    justify-content: center;
    gap: 50px;
}
.header-left{
    max-width: 40vw;
}
.header-left h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.get-start
{
    margin-top: 30px;
}
.header-right img{
    width: 600px;
}
.companies-header
{
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);
}
.logos
{
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo1
{
    height: 40px;
}
.logo2
{
    height: 60px;
}
.logo3
{
    height: 60px;
}
.logo4
{
    height: 60px;
}
.logo5
{
    height: 150px;
}
.features-section
{
    padding: 80px var(--padding-inline-section) 0;
  
 
}
.features-header{
    text-align: center;
    
}
.features-header h2{
    margin-bottom: 20px;
}
.features-area{
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
   
}
.features-card
{
    align-items: center;
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center
}
.features-card img{
    height: 80px;
}
.big-features-section
{
    padding: 30px var(--padding-inline-section) 0;
}
.b-f-cont
{
    gap: 30px;
}
.feature-img img{
  width: 100%;
}
.feature-desc{
    flex-direction: column;
    align-items: flex-start;
}
.example-section
{
    margin-top: 90px;
    margin-bottom: 190px;
    height: 350px;
}
.head-example{

    flex-direction: column;
    gap: 30px;
    margin-top: 1px;
}
.see-more a
{
    height: 54px;
    width: 230px;
    margin: 0px;
    text-align: center;
}
.example-img{
    margin: 20px 20px;
    gap: 30px;
}

.img-text{
    background-image: url("feature\ img1.png");
    background-size: 280px;
    margin-top: 30px;
    height: 300px;
    width: 350px; 
    
    background-color: aqua;
    
}
.img-text h3{
    display: flex;
    align-items:end;
    justify-content:center;
    margin-right: 40px;
    margin-left: 20px;
    margin-top: 120px;
}
.cta-div
{
    margin-top: 250px;
    background-color: #223046;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:370px ;
    gap: 50px;
}
.cta-div h2{
    color: white;
} 
.cta-div h3{
    color: white;
    size: 13rem;
} 
.foot{
    height: 390px;
    gap: 100px;
}
.foott
{
    align-items: flex-start;
}
.footer-topic img
{
    width: 300px;
    margin-right: 100px;
}
.topic-footer{
    width: 80%;
    gap: 200px;
}
.topic-footer ul
{
    row-gap: 15px;
    flex-direction: column;

}
.subfooter{
     height: 80px;
     background-color: #9de7ff;
     justify-content: center;
     align-items: center;
}
.option-subfooter p
{
    size:80%;
}
.option-subfooter{
    size: 90px;
   
    gap: 60px;
}
